header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #a14f0d;
}

body{
    background: #edad63;
}
img{
  cursor: pointer;
  width: 90px;
  height: 90px;
}

.menu ul{
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu p{
  text-decoration: none;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  transition: color 0.3s;
}

.icons {
  display: flex;
  align-items: end;
  gap: 20px;
  font-size: 18px;
}

.buscar {
  display: flex;
  align-items: end;
  background: #e8e6e6;
  padding: 8px 8px;
  border-radius: 4px;
}

.buscar input {
  border: none;
  outline: none;
  background: transparent;
}

.icons{
    display: flex;
    align-items: center;
}


.container {
    display: grid; 
    justify-content: space-between;
    padding: 20px;  
    max-width: 3000px;
    margin: 0 auto; 
   grid-template-columns: repeat(3,1fr);

}
.fotos{
    width: 70%;
    background: #ffca8e;
    border: none;
    padding: 20px; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fotos img{
    width: 100%; 
    height: auto;
  
}
h1{
    margin: 0;
    text-align: center;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fotos h2{
    margin: 0;
    text-align: center;
    color: #c06e10;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width:768px){
    .container{
        flex-direction: column;
     display: flex;
    }
    .fotos{
        flex-direction: column;
    }
    header{
      flex-direction: column;
     display: flex;
      
    }
}

.fotos:hover{
    scale: 1.1;
    box-shadow: 0 0 25px 10px #a14f0d;
}