body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(223, 180, 194);
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
}

.foto{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
     
}
.foto img{
    height: 300px;
    width: 300px;
    border-radius: 10px;

}
p{
    text-align: center;
    color: rgb(0, 0, 0);
    justify-content: center;
    padding: 0 100px;
    text-align: justify;
}
.icone{
    align-items: center;
    justify-content: center;
    display: flex;
}

.icone a{
    color: #000000;
    margin-right: 15px;
    font-size: 35px;
    transition: 0.7s;
    display: flex;
    flex-direction: row;
}
.icone a:hover{
    color: #ffffff;
}

@media (max-width:768px){
    p{
        color: palevioletred;
    }
    body{
        #fff
    }
    h1{
        color:;
    }
        }